/* SASS file to be compiled into CSS */

/* Font import */

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* Variables */

$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 20%);
$dark_grey: hsl(0, 0%, 12%);
$off_black: hsl(0, 0%, 8%);

$font_family: 'Inter', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-xbold: 700;

$font-size-main: 14px;
$font-size-heading: 23px;

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_family;
  font-size: $font-size-main;
  background-color: $off_black;
  color: $white;

  .main {
    min-height: 100vh;
  }

  .attribution {
    text-align: center;
    padding: 8px 0;
    
    a {
      text-decoration: none;
      color: $green;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}