/* SASS file to be compiled into CSS */

/* Font import */

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

/* Variables */

$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 20%);
$dark_grey: hsl(0, 0%, 12%);
$off_black: hsl(0, 0%, 8%);

$font_family: "Inter", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-xbold: 700;

$font-size-main: 14px;
$font-size-heading: 23px;

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font_family;
  font-size: $font-size-main;
  background-color: $off_black;
  color: $white;
  line-height: 150%;

  .main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      background-color: $dark_grey;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      width: 327px;

      @media screen and (min-width: 600px){
        width: 384px;
      }

      padding: 40px;
      border-radius: 12px;

      .personal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        .name {
          font-size: $font-size-heading;
          font-weight: $font-weight-bold;
        }

        .location {
          color: $green;;
          font-weight: $font-weight-xbold;
        }
      }

      .links {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .link {
          width: 100%;
          padding: 12px 0;
          background-color: $grey;
          border-radius: 8px;
          text-align: center;
          font-weight: $font-weight-bold;

          &:hover {
            background-color: $green;
            color: $grey;
          }
        }
      }

    }
  }

  .attribution {
    text-align: center;
    padding: 8px 0;

    a {
      text-decoration: none;
      color: $green;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
